{% extends 'base.html' %}

{% block content %}

<div class="row justify-content-center">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header">
              <h3 class="box-title" style="text-align:center;">数据表</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <table id="datatable" class="table table-hover" >
                <thead>
                <tr>
                    <th style='text-align: center;'>观测日期</th>
                    <th style='text-align: center;'>频模(Digit)</th>
                    <th style='text-align: center;'>温度（℃）</th>
                    <th style='text-align: center;'>渗压(kPa)</th>
                    <th style='text-align: center;'>水位高程(m)</th>

                </tr>
                </thead>
                <tbody>
                {% for data in datalist %}
                <tr class="text-center">
                    <td>{{ data.ObservationDate }}</td>
                    <td>{{ data.R1 }}</td>
                    <td>{{ data.R2 }}</td>
                    <td>{{ data.F1 }}</td>
                    <td>{{ data.F2 }}</td>
                </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
            <!-- /.box-body -->
          </div>
        </div>
      </div>
{% endblock %}