{% extends 'base.html' %}

{% block content %}

<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    请选择测点
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      {% for sensor in sensors %}
        <a class="dropdown-item" href="{% url 'table' sensor.id %}">{{ sensor.name }}</a>
      {% endfor %}

  </div>
</div>


<div class="row justify-content-center">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header">
              <h3 class="box-title" style="text-align:center;">数据表</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <table id="datatable" class="table table-hover" >
                <thead>
                <tr>
                    <th style='text-align: center;'>测点名称</th>
                    <th style='text-align: center;'>观测日期</th>
                    <th style='text-align: center;'>频模(Digit)</th>
                    <th style='text-align: center;'>温度（℃）</th>
                    <th style='text-align: center;'>渗压(kPa)</th>
                    <th style='text-align: center;'>水位高程(m)</th>

                </tr>
                </thead>
                <tbody>

                {% for data in datalist %}
                {% if sensor_id %}
                <tr class="text-center">
                    <td>{{ data.0 }}</td>
                    <td>{{ data.1 }}</td>
                    <td>{{ data.2|floatformat:"2" }}</td>
                    <td>{{ data.3|floatformat:"2" }}</td>
                    <td>{{ data.4|floatformat:"2" }}</td>
                    <td>{{ data.5|floatformat:"2" }}</td>
                </tr>
                {% else %}
                <tr class="text-center">
                    <td>{{ data.sensor__name}}</td>
                    <td>{{ data.ObservationDate }}</td>
                    <td>{{ data.R1|floatformat:"2"  }}</td>
                    <td>{{ data.R2|floatformat:"2"  }}</td>
                    <td>{{ data.F1|floatformat:"2"  }}</td>
                    <td>{{ data.F2|floatformat:"2"  }}</td>
                </tr>
                    {% endif %}

                {% endfor %}
                </tbody>
              </table>
            </div>
            <!-- /.box-body -->
          </div>
        </div>
      </div>


{% endblock %}